@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.card-img-top {
    width: 200px;
    height: 300px;
}

.card-title {
  color: #5f9c78;
}

body {
  background-image: url(../assets/blue-snow.png);
  font-family: Poppins, sans-serif
}

.navbar-light .navbar-nav .nav-link {
  color: #a8a8a8;
}

.btn-login-blue {
  background-color: #ffffff;
  color: rgb(87, 87, 87);
}

.btn-login-blue:hover {
  background-color: #cfcfcf;
  color: #fff;
}